---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # Flux-Kustomizations
  - ./cilium/ks.yaml
  - ./descheduler/ks.yaml
  - ./dnsimple-webhook-rbac.yaml
  - ./fstrim/ks.yaml
  - ./kubelet-csr-approver/ks.yaml
  - ./metrics-server/ks.yaml
  - ./multus/ks.yaml
  # - ./nvidia-device-plugin/ks.yaml # Until nvidia-container-plugin issues are resolved with the ZFS extension.
  - ./node-feature-discovery/ks.yaml
  - ./reloader/ks.yaml
  - ./spegel/ks.yaml
  - ./zfs-scrub/ks.yaml
