---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: webhook-dnsimple
spec:
  chart:
    spec:
      chart: app-template
      version: 3.3.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 30m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  values:
    controllers:
      webhook-dnsimple:
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: git.hsn.dev/jahanson/cert-manager-webhook-dnsimple
              tag: v0.0.6
            args:
              - --secure-port=8443
              - --tls-cert-file=/tls/tls.crt
              - --tls-private-key-file=/tls/tls.key
            env:
              - name: GROUP_NAME
                value: "acme.hsn.dev"
            resources:
              requests:
                cpu: 23m
                memory: 249M
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
    service:
      app:
        controller: webhook-dnsimple
        ports:
          https:
            port: 443
            targetPort: 8443
            protocol: TCP
    persistence:
      certs:
        type: secret
        name: webhook-dnsimple-webhook-tls
        globalMounts:
          - path: /tls
            readOnly: true
    serviceAccount:
      create: true
      name: webhook-dnsimple