---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ../../../../templates/gatus/internal
configMapGenerator:
  - name: searxng-configmap
    files:
      - settings.yml=./resources/settings.yml
      - limiter.toml=./resources/limiter.toml
generatorOptions:
  disableNameSuffixHash: true
