---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # Flux-Kustomizations
  - ./node-exporter/ks.yaml
  - ./gatus/ks.yaml
  # - ./smartctl-exporter/ks.yaml
  # - ./victoria-metrics/ks.yaml
