---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # Flux-Kustomizations
  - ./alertmanager/ks.yaml
  - ./gatus/ks.yaml
  - ./prometheus-operator-crds/ks.yaml
  - ./victoria-metrics/ks.yaml
